:root{
    --color-primary:#22376D;
    --color-secondary:#475a7e;
    --color-forms:rgb(230, 230, 230);
}
.contentMainBody{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.BodyContainer{
    margin-top: 2%;
    margin-bottom: 2%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 80%;
    height: auto;
    border: solid 3px var(--color-primary);
    border-radius: 15px;
}